{% extends "base.html" %}
{% load allauth account %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="custom-card">
                <div class="card-body">
                    <h1>Sign In</h1>
                    <p>If you don't have an account, <a href="{{ signup_url }}">sign up</a> first.</p>

                    {% url 'account_login' as login_url %}
                    <form method="post" action="{{ login_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {{ redirect_field }}
                        <button class="btn login-btn" type="submit">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}