{% extends "base.html" %}
{% load allauth %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="custom-card">
                <div class="card-body">
                    <h1>Sign Out</h1>
                    <p>Are you sure you want to sign out?</p>

                    {% url 'account_logout' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        <button class="btn btn-login" type="submit">Sign Out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}