

/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Hanken Grotesk", serif;
    --primary-colour: #C00000; /* Talent Hub Red */
    --secondary-colour: #D9D9D9; /* Muted Grey */
    --primary-accent-colour: #009098; /* teal */
    --secondary-accent-colouor: #99D3D6; /* Pastel Teal */
    --selection-colour: #FFD5D5; /* pastel Talent Hub Red */
    --primary-background-colour: #FAF9F6; /* Off White*/ 
    --primary-text-colour: #3D3D3C; /* Charcol */
    --border-colour: #8D8D8B; /* Grey */
}

/* global styles */

main {
    background-color: var(--primary-colour);
    font-family: var(--primary-font);
    color: var(--primary-text-colour);
}

h1 {
    font-family: var(--secondary-font);
}


/* nav styles */

nav {
    background-color: var(--primary-text-colour);
}


/* footer styles */

#footer {
    background-color: var(--primary-text-colour);
}