{% extends "base.html" %}
{% load humanize %}

{% block content %}

<!-- Job Entries Column -->
<div class="col-12 mt-3 left">
    <h1>Find your dream job!</h1>
    <p>Use the tiles below to search and browse roles and select the arrows for more details</p>
    <div class="row">
        {% for job in job_list %}
        <div class="col-md-4 d-flex mb-4">
            <div class="custom-card h-100 w-100 d-flex flex-column">
                <div class="d-flex flex-column flex-grow-1">
                    <h2 class="job-title-card">{{ job.title }}</h2>
                    <p class="company-name-card">{{ job.company.company_name }}</p>
                    <div class="row mt-auto">
                        <div class="col-5">
                            <p class="job-location-card">{{ job.location }}</p>
                        </div>
                        <div class="col-5">
                            <p class="job-salary-card">Up to: £{{ job.salary_max|intcomma }}</p>
                        </div>
                        <div class="col-2">
                            <p><a href="{% url 'job_detail' job.slug %}" class="post-link"><i class="fa-solid fa-angles-right"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}