{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2">
            <a href="{% url 'home' %}"><i class="fa-solid fa-angles-left"></i></a>
        </div>
        <div class="col-10">
            <h1>{{ job.title }}</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row key-job-details">
        <div class="col-3">
            {{ job.company.company_name }}
        </div>
        <div class="col-3">
            {{ job.location }}
        </div>
        <div class="col-3">
            {{ job.get_job_type_display }}
        </div>
        <div class="col-3">
            £{{ job.salary_min|intcomma }} - £{{ job.salary_max|intcomma }}
        </div>
    </div>
</div>

<div class="container">
    <div>
        {{ job.description|safe}}
    </div>
    <div>

        {% if request.user.is_authenticated and request.user.candidate_profile %}
        <button type="button" class="btn login-btn" data-bs-toggle="modal" data-bs-target="#applyModal">
            Apply
        </button>

        <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="applyModalLabel">Apply for {{ job.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'apply_to_job' job.slug %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-login">Submit application</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if request.user.is_authenticated and job.company == request.user.company_contact %}
        <a href="{% url 'edit_job' job.slug %}">
            <button type="button" class="btn login-btn">
                Edit this job
            </button>
        </a>
        <a href="{% url 'review_applications' job.slug %}">
            <button type="button" class="btn login-btn">
                View applicants
            </button>
        </a>
        {% endif %}
    </div>
    <div>
        <div>
            <h3>About {{ job.company.company_name }}</h3>
            <p>{{ job.company.description|safe }}</p>
            {% if job.company.website %}
            <p><a href="{{ job.company.website }}" target="_blank">{{ job.company.website }}</a></p>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}